div {
    background-color: twitter-color;
    color: white;
    lost-column: 1/4;
    +from-width(800px) {
        background-color: ebay-color;
    }
}

div:hover {
    background-color: facebook-color;
}


section {
    lost-utility: clearfix;
    z-index: 1001;
}

h2 {
    font-size: 12rem;
}